In [1]:
import pandas as pd

In [2]:
data = { 'color' : ['blue','green','yellow','red','white'],
'object': ['ball','pen','pencil','paper','mug'],
'price' : [1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [5]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [6]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [8]:
frame.head(2)

   color object  price
0   blue   ball    1.2
1  green    pen    1.0

In [10]:
frame.tail(1)

   color object  price
4  white    mug    1.7

In [11]:
frame[["color","price"]]

    color  price
0    blue    1.2
1   green    1.0
2  yellow    0.6
3     red    0.9
4   white    1.7

Pour avoir la couleur rouge

In [13]:
frame[frame['color']=='red']

  color object  price
3   red  paper    0.9